body {
	@include outer-container;
	    max-width: initial;
  background: linear-gradient(to bottom, $bg-color 0%,$bg-color 16%,$bg-color2 16%, $bg-color2 16%,$bg-color2 100%);
	height: 100vh;
	font-family: "Open Sans", sans-serif;
}
