
$linkColor: #4183C4;
$hoverColor: lighten($linkColor, 10);
$borderColor: #b3b3b3;
$bg-color: #4c545f;
$bg-color2: #efefef;
$green-accent: #26cb63;
$darker-accent: #00cc67;
$hovered-project: #4c545f;
